################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/ConsoleConfigurationHelp/v16
/ConsoleConfigurationHelp/bin/Debug
/ConsoleConfigurationHelp/obj/Debug
