<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!--type = Section 位置,專案名稱-->
		<section name="XSection" type="ConsoleConfigurationHelp.XSection,ConsoleConfigurationHelp" allowLocation="true" allowDefinition="Everywhere"/>
	</configSections>

	<!--XSection為上面name所定義的，是可以換成別的-->
	<XSection XKey="123">
		<!--Y為XSection所設定的元素名稱-->
		<Y Y1="1" Y2="a" />

		<!--Zs為XSection所設定的元素名稱-->
		<Zs>
			<!--記得元素要用add-->
			<add Y1="2" Y2="a"></add>
			<add Y1="3" Y2="a"></add>
			<add Y1="4" Y2="a"></add>
		</Zs>
	</XSection>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
</configuration>