<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--type = Section 位置,專案名稱-->
    <section name="XSection" type="ConsoleConfigurationHelp.XSection,ConsoleConfigurationHelp" allowLocation="true" allowDefinition="Everywhere"/>
  <section name="IPChangeSection" type="ConsoleConfigurationHelp.Sample.IPSection, ConsoleConfigurationHelp" />
  </configSections>

  <!--XSection為上面name所定義的，是可以換成別的-->
  <XSection XKey="123">
    <!--Y為XSection所設定的元素名稱-->
    <Y Y1="1" Y2="a" />

    <!--Zs為XSection所設定的元素名稱-->
    <Zs>
      <!--記得元素要用add-->
      <add Y1="2" Y2="a"></add>
      <add Y1="3" Y2="a"></add>
      <add Y1="4" Y2="a"></add>
    </Zs>
  </XSection>

  <IPChangeSection SectionKey="IPChange">
    <IPGroup>
      <add Key="0" Name="連線1.0" ConnectionStringA="127.1.1.0" ConnectionStringB="127.1.1.1" ConnectionStringC="127.1.1.2"></add>
      <add Key="1" Name="連線2.1" ConnectionStringA="127.1.1.2" ConnectionStringB="127.1.1.0" ConnectionStringC="127.1.1.1"></add>
    </IPGroup>
  </IPChangeSection>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>